<!-- Header -->
<header class="template-header">
    <div class="header-wrapper">
        <div class="header-logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
        </div>
        <div class="header-companyname">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="header-extendednavigation">
            {{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
        </div>
    </div>
</header>
<!-- End Header -->
